<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=1024, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Calidad de Vida - Clinica</title>
		<link rel="stylesheet" href="/static/css/lib/reset.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/font-awesome.min.css" />
		<!--[if IE 7]>
		<link rel="stylesheet" href="/static/css/lib/font-awesome-ie7.min.css">
		<![endif]-->
		<link rel="stylesheet" href="/static/css/lib/formalize.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/onepcssgrid.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/alertify.core.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/alertify.default.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/jquery.sidr.dark.css" type="text/css">
		<link rel="stylesheet" href="/static/css/lib/fullcalendar.css" type="text/css">
		<link rel="stylesheet" href="/static/css/core/calidad.de.vida.main.css" type="text/css">
		{% block css %}{% endblock %}
	</head>
	<body data-now='{% now "Y-m-d" %}' data-now-month='{% now "m" %}' data-now-day='{% now "d" %}'  data-now-year='{% now "Y" %}'>
		{% if user %}
		<div id="top-user">
			<a href="/#" class="button blue"><i class="icon-home"></i></a>
		</div>
		{% endif %}
		<div id="top-options">
		{% block options %}{% endblock %}
		</div>
		<section id="maincontainer">
			{% if messages %}
			{% for message in messages %}
			{% if message.tags == "error" %}
			<div class="notification error">
				<span class="icon"></span>{{ message }}
			</div>
			{% endif %}
			{% if message.tags == "success" %}
			<div class="notification success">
				<span class="icon"></span>{{ message }}
			</div>
			{% endif %}
			{% if message.tags == "info" %}
			<div class="notification information">
				<span class="icon"></span>{{ message }}
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% block content %}{% endblock %}
		</section>
		<div class="clear"></div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="/static/js/lib/jquery.min.js"></script>
		<script src="/static/js/lib/handlebars-1.0.0-rc.4.js"></script>
		<script src="/static/js/lib/underscore-min.js"></script>
		<script src="/static/js/lib/backbone-min.js"></script>
		<script src="/static/js/lib/jquery.getter.js"></script>
		<script src="/static/js/lib/jquery.metadata.js"></script>
		<script src="/static/js/lib/jquery.validate.js"></script>
		<script src="/static/js/lib/notification.js"></script>
		<script src="/static/js/lib/jquery.autocomplete.js"></script>
		<script src="/static/js/lib/jwerty.js"></script>
		<script src="/static/js/lib/jquery.dateentry.min.js"></script>
		<script src="/static/js/lib/jquery.sidr.min.js"></script>
		<script src="/static/js/lib/jquery.zenky.js"></script>
		<script src="/static/js/lib/slang.min.js"></script>
		<script src="/static/js/lib/jsdeferred.jquery.js"></script>
		<script src="/static/js/lib/fullcalendar.min.js"></script>
		<script src="/static/js/lib/require.js" data-main="/static/js/core/calidad.de.vida.require.js"></script>
		<script src="/static/js/core/calidad.de.vida.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>
