{% extends 'base.html' %}
{% block options %}
	<a id="btn-sidebar-disponibilidad" class="button blue mgxb2"><i class="icon-tasks"></i></a>
	<a id="btn-sidebar-help" class="button blue d-block mgxb2"><i class="icon-question-sign"></i></a>
	<a href="/#paciente/nuevo" class="button green d-block mgxb2"><i class="icon-plus"></i></a>
{% endblock %}
{% block content %}
	<div id="main" class="onepcssgrid-1200">
		<div class="onerow">
			<div id="tmpl-area-multiple" class="col5">
				<div id="tmpl-frm-srch-pct" data-tmpl="#v-g-i-frm-srch-pct-tmpl"></div>
				<div class="clear"></div>
				<hr>
				<div id="tmpl-v-g-i-dts-pct" data-tmpl="#v-g-i-dts-pct-tmpl"></div>
				<hr>
				<div id="tmpl-v-g-i-area-free" data-tmpl="#v-g-i-area-free"></div>
			</div>
			<div id="tmpl-frm-srch-cts" data-tmpl="#v-g-i-cts-tmpl" class="col7 last scroll-y"></div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="/static/js/core/calidad.de.vida.index.js"></script>
{% endblock %}