<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Clinica Calidad de Vida</title>
		<link rel="stylesheet" href="/static/css/lib/reset.css" />
		<link rel="stylesheet" href="/static/css/core/login.css" />
	</head>
	<body id="login">
		<div id="login_container">
			<div class="presentation">
				<img class="img-express" src="/static/img/express.png">
				<h1 id="title" class="font-express">Clinica Calidad de Vida</h1>
			</div>
			<div id="login_form">
				<form method="post" action="/login/">{% csrf_token %}
					<p>
						<input type="text" id="username" name="username" placeholder="Usuario" />
					</p>
					<p>
						<input type="password" id="password" name="password" placeholder="Constraseña"/>
					</p>
					<input type="submit" class="button" value="INGRESAR">
				</form>
			</div>
		</div>
	</body>
</html>
