<script id="v-p-c-list-srv-001" data-min="v-c-s-l-s-001-tmpl" class="v-p-c-tmpl" type="text/x-handlebars-template">
	<div class="box">
		<form class="auto">
			<div class="field-group">
				<label>Búsqueda de servicio:</label>
				<input id="v-c-s-l-s-001-tmpl-inpt" type="text" class="node-street">
			</div>
		</form>
		<ul class="table">
			{{#objects}}
			<li><a href="#" class="button small mgxb2 d-block node-street v-c-s-l-s-001-tmpl-data-link" data-down="parent-next-child" data-up="parent-prev-child" data-id="{{ id }}">{{ nombre }}</a></li>
			{{/objects}}
		</ul>
	</div>
</script>
<script id="v-p-c-list-trpt-002" data-min="v-p-c-l-t-002-tmpl" class="v-p-c-tmpl" type="text/x-handlebars-template">
	<div class="box">
		<div>
			<h3 class="d-inline">Lista de terapeutas de {{ nombre }}:</h3>
			{{#profesionales}}
				<div class="onerow">
					<div class="col1">
						<a class="button small d-block" style="background: {{ color }}"><i class="icon-user"></i></a>
					</div>
					<div class="col11 last">
						<a href="#" class="button small mgxb2 d-block node-street v-p-c-l-t-002-tmpl-data-link-002" data-down="parent-parent-next-child" data-esc="$('.node-street:focus').parent().parent().parent().find('.v-p-c-l-t-002-tmpl-data-link-001').focus()" data-up="parent-parent-prev-child" data-id="{{ id }}">{{ terapeuta_text }} ({{ hoy }})</a>
					</div>
				</div>
			{{/profesionales}}
			<div class="clear">
			<hr>
			<a href="#" class="button small green d-inline v-p-c-l-t-002-tmpl-data-link-001 node-street">atras</a>
			<hr>
		</div>
		<div id="v-p-c-l-t-002-tmpl-area-calendar"></div>
	</div>
</script>
<script id="v-p-c-calc-trpt-003" data-min="v-p-c-c-t-003-tmpl" class="v-p-c-tmpl" type="text/x-handlebars-template">
	<div class="v-p-c-c-t-003-tmpl-calendar"></div>
</script>
<script id="v-p-c-frm-cta-004" data-min="v-p-c-f-c-004" class="v-p-c-tmpl" type="text/x-handlebars-template">
	<h1 class="font-open color-white">Registro Cita:</h1>
	<hr>
	<form method="POST" class="auto">
		<input type="hidden" value="{{ token }}" name="csrfmiddlewaretoken" class="field">
		<input type="hidden" value="{{ profesionalcalc }}" name="profesionalcalc" class="field">
		<input type="hidden" value="{{ paciente }}" name="paciente" class="field">
		<h4 class="">{{ servicio_text }}</h4>
		<h5 class="">{{ profesional_text }}</h5>
		<h5 class="">{{ dia }}</h5>
		<h5 class="">{{ horainicio_text }}</h5>
		<h5 class="">s./ {{ servicio_precio }}</h5>
		<div class="field-group">
			<label>Monto:</label>
			<input type="text" name="precio" value="{{ servicio_precio }}" class="{validate: {required:true, number:true}} field">
		</div>
		<div class="field-group">
			<label>Observación:</label>
			<textarea name="observacion" class="field"></textarea>
		</div>
		<div class="actions two">
			<input type="submit" value="Registrar" data-value="Registrar" class="button green">
			<input type="button" value="Cerrar" class="button red">
		</div>
		<div class="text-center">
			<i class="icon-user-md fontx128"></i>
		</div>
	</form>
</script>