<script id="v-p-cr-frm-srch-pct-tmpl-001" data-min="v-p-cr-f-s-p-001-tmpl" class="v-p-cr-tmpl" type="text/x-handlebars-template">
<div class="onerow box">
	<div class="col6">
		<form class="auto">
			<div class="field-group">
				<label>Búsqueda por DNI:</label>
				<input id="v-g-i-frm-srch-pct-tmpl-inp-dni" type="text" class="node-street" data-right="$('#v-g-i-frm-srch-pct-tmpl-inp-app').focus()" data-down="$('#tmpl-v-g-i-dts-pct .node-street:first').focus()" >
			</div>
		</form>
	</div>
	<div class="col6 last">
		<form class="auto">
			<div class="field-group">
				<label>Búsqueda por apellidos:</label>
				<input id="v-g-i-frm-srch-pct-tmpl-inp-app" class="node-street" type="text"  data-left="$('#v-g-i-frm-srch-pct-tmpl-inp-dni').focus()" >
			</div>
		</form>
	</div>
	<div class="clear"></div>
</div>
</script>

<script id="v-p-cr-frm-nuevo-002" data-min="v-p-cr-f-n-002-tmpl" class="v-p-cr-tmpl" type="text/x-handlebars-template">
	<form class="auto">
		<h3>Filiación:</h3>
		<div class="col6">
			<div class="field-group">
				<label>DNI:</label>
				<input type="text" class="{validate: {required:false, number:true}}" >
			</div>
		</div>
		<div class="col6 last">
			<div class="field-group">
				<label>Nombres:</label>
				<input type="text" class="{validate: {required:true}}" >
			</div>
		</div>
		<div class="clear"></div>
		<div class="col6">
			<div class="field-group">
				<label>Apellido Paterno:</label>
				<input type="text" class="{validate: {required:true}}" >
			</div>
		</div>
		<div class="col6 last">
			<div class="field-group">
				<label>Apellido Materno:</label>
				<input type="text" class="{validate: {required:true}}" >
			</div>
		</div>
		<div class="clear"></div>
		<div class="col6">
			<div class="field-group">
				<label>Nacimiento:</label>
				<input type="text" class="{validate: {required:true}}" >
			</div>
		</div>
		<div class="col6 last">
			<div class="field-group">
				<label>Telefono Fijo:</label>
				<input type="text" class="{validate: {required:true}}" >
			</div>
		</div>
		<div class="clear"></div>
		<div class="field-group">
			<label>Telefono mobil:</label>
			<input type="text" class="{validate: {required:true}}" >
		</div>
		<div class="actions two">
			<input type="submit" value="Guardar" class="button green" />
			<a class="button red" href="/#">Atras / Cancelar</a>
		</div>
	</form>
</script>

<script id="v-p-cr-frm-nuevo-003" data-min="v-p-cr-f-n-003-tmpl" class="v-p-cr-tmpl" type="text/x-handlebars-template">
	<table id="v-p-cr-f-n-003-tmpl-tbl-pct" class="light" data-dni="{{ dni }}">
		<tr>
			<td>DNI: </td><td>{{ dni }}</td>
		</tr>
		<tr>
			<td>Apellidos y Nombres: </td><td>{{ appaterno }} {{ apmaterno }}, {{ nombre }}</td>
		</tr>
		<tr>
			<td>Telfijo: </td><td>{{ telfijo }}</td>
		</tr>
		<tr>
			<td>Telmobil: </td><td>{{ telmobil }}</td>
		</tr>
	</table>
	<hr>
		<a class="button small green node-street" data-left="$('.node-street:focus').prev('.node-street').focus()" data-right="$('.node-street:focus').next('.node-street').focus()" data-link="cita" title="Clic para una Cita" href="#paciente/{{ dni }}/cita">
		cita
		</a>
		<a class="button small red node-street" data-right="$('.node-street:focus').next('.node-street').focus()" data-left="$('.node-street:focus').prev('.node-street').focus()" data-link="paquete" title="Clic para Paquetes" href="#paciente/{{ dni }}/paquete">
		Paquete
		</a>
		<a id="14" class="button small node-street" data-right="$('.node-street:focus').next('.node-street').focus()" data-left="$('.node-street:focus').prev('.node-street').focus()" title="Calendario de un Paciente" href="#paciente/{{ dni }}/calendario">Calendario
		</a>
</script>