<script id="v-p-p-list-001" data-min="v-p-p-l-001-tmpl" class="v-p-p-tmpl" type="text/x-handlebars-template">
	<div id="v-g-i-lst-own-pqts-html">
		<h3 class="font-open color-black">Mis paquetes:</h3>
		<table class="dummie">
			<thead>
				<th>Paquete</th>
				<th>Inscripción</th>
				<th>Total</th>
				<th>Debe</th>
			</thead>
			<tbody>
				{{#objects}}
				<tr>
					<td><a href="#paciente/46004768/paquete/{{ id }}" data-id="{{ id }}" class="small button v-p-p-l-001-data-link-001">{{ paquete_text }}</a></td>
					<td><span>{{ diaregistro }}</span></td>
					<td><span>{{ paquete_precio }}</span></td>
					<td><span>{{ debe }}</span></td>
				</tr>
				{{/objects}}
			</tbody>
		</table>
		<hr>
		<a href="#" class="button small show-paquetes  v-p-p-l-001-data-link-002">Nuevo Paquete</a>
	</div>
</script>

<script id="v-p-p-detail-002" data-min="v-p-p-p-d-002-tmpl" class="v-p-p-tmpl" type="text/x-handlebars-template">
	<h1 class="font-open color-white">Paquete: {{ paquete_text }}</h1>
	<hr>
	<a class="button small data-link" data-link="pago-sesion" data-id="{{ id }}" title="Pago" href="#" >Pago</a>
	<hr>
	<div class="onerow">
		<div class="col5">
			<table class="dummie">
				<tbody>
					{{#sesiones}}
					<tr>
						<td><a href="#" class="button small d-block v-p-p-p-d-002-tmpl-data-link-001" data-id="{{ reservas.id }}" data-link="sesion">{{ sesion }} / {{ reservas.terapeuta_text }}</a></td>
						<td><span><i class="font-16 {{ estado_text }}"></i></span></td>
					</tr>
					{{/sesiones}}
				</tbody>
			</table>
		</div>
	</div>
</script>

<script id="v-p-p-pqt-ssn-detail-tmpl-001" data-min="v-p-p-p-s-d-tmpl-001" class="v-p-p-tmpl" type="text/x-handlebars-template">
	<table class="light">
		<tbody>
			<tr>
				<td>Terapeuta</td><td>{{ terapeuta_text }}</td>
			</tr>
			<tr>
				<td>Servicio</td><td>{{ servicio_text }}</td>
			</tr>
			<tr>
				<td>Estado</td><td>{{ estado_text }}</td>
			</tr>
			<tr>
				<td>Fecha</td><td>{{ dia_text }}</td>
			</tr>
			<tr>
				<td>Inicio</td><td>{{ horainicio_text }}</td>
			</tr>
			<tr>
				<td>Fin</td><td>{{ horafin_text }}</td>
			</tr>
		</tbody>
	</table>
	<hr>
	{{#if is_reservado}}
	<a class="button small data-link" href="#" data-link="accion-sesion">Postergar</a>
	{{/if}}
	{{#if is_falto}}
	<a class="button small data-link" href="#"  data-link="accion-sesion">Reprogramar</a>
	{{/if}}
	{{#if is_postergado}}
	<a class="button small data-link" href="#"  data-link="accion-sesion">Reprogramar</a>
	{{/if}}
</script>

<script id="v-p-p-pqt-frm-pgo-tmpl-001" data-min="v-p-p-p-f-p-tmpl-001" class="v-p-p-tmpl" type="text/x-handlebars-template">
	{{#if pagos}}
	<table class="light">
		<tbody>
			{{#pagos}}
			<tr>
				<td>{{ fecha }}</td><td>{{ monto }}</td>
			</tr>
			{{/pagos}}
			<tr>
				<td>Total</td>
				<td><strong>{{ status.pagado }}</strong></td>
			</tr>
		</tbody>
	</table>
	{{/if}}
	<hr>
	<ul>
		<li><h5 class="font-open">Precio: <strong>{{ status.precio }}</strong></h5></li>
		<li><h5 class="font-open">Debe: <strong>{{ status.debe }}</strong></h5></li>
	</ul>
	<hr>
	<form method="post">
		<input type="hidden" value="{{ token }}" name="csrfmiddlewaretoken" class="field">
		<input type="hidden" value="{{ id }}" name="paquete" class="field">
		<p>
			<label>Monto</label>
			<input type="text" name="monto" class="{validate: {required:true, number:true, min:1}} field" value="0">
		</p>
		<div class="action_bar">
			<input type="submit" value="Registrar" data-value="Registrar" class="button green">
		</div>
	</form>
</script>