@font-face {
	font-family: "PT Serif Caption";
	font-style: normal;
	font-weight: 400;
	src: local("PT Serif Caption"), local("PTSerif-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.font.header {
font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 200; font-size: 42pt; letter-spacing: 0.00em; line-height: 44pt; font-smooth: always;}
.font.subheader,
.font.subheader-secondary {
font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 200; font-size: 20pt; letter-spacing: 0.01em; line-height: 22pt; font-smooth: always;}
.font.subheader-smaller,
.font.subheader-secondary-smaller {
font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 200; letter-spacing: 0.01em; line-height: 18pt; font-size: 16pt; font-smooth: always;}
.font.small-subheader,
.font.small-subheader-secondary {
font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 600; font-size: 11pt; letter-spacing: 0.01em; line-height: 13pt;font-smooth: always;}
.font.navigation {
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 400; font-size: 11pt; letter-spacing: 0.01em; line-height: 13pt; font-smooth: always;}
.font.body,
.font.body-secondary,
.font.normal {
font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; line-height: 14pt; font-smooth: always;}
.font.link {
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 400; font-size: 11pt; font-smooth: always; line-height: 13pt;}
.font.tertiary,
.font.tertiary-secondary {
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 400; font-size: 9pt; font-smooth: always; line-height: 11pt;}
.font.control {
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 400; font-size: 9pt; font-smooth: always; line-height: 11pt;}
.font.small {
font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight: 300; font-size: 8pt; font-smooth: always; line-height: 10pt; }
.font.long-text {
font-family: 'PT Serif Caption', sans-serif, serif !important;
font-weight: 300; font-size: 10pt; letter-spacing: 0.02em; line-height: 12pt; font-smooth: always; }
.font.long-text-smaller {
font-family: 'PT Serif Caption', sans-serif, serif !important;
font-weight: 300; font-size: 10pt; letter-spacing: 0.02em; line-height: 12pt; font-smooth: always; font-size: 9pt; line-height: 11pt; }
.font.long-text-lead {
font-family: 'PT Serif Caption', sans-serif, serif !important;
font-weight: 300; font-size: 10pt; letter-spacing: 0.02em; line-height: 12pt; font-smooth: always; font-size: 20pt; line-height: 22pt; }

body {font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;font-size: 14px; background: #fff}

h1,h2,h3,h4,h5,h6 {margin: 0 0 10px 0; padding: 0; }
h1 {font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 200; font-size: 32pt; letter-spacing: 0.00em; line-height: 32pt; font-smooth: always; }
h2 {font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 200; font-size: 20pt; letter-spacing: 0.01em; line-height: 22pt; font-smooth: always; }
h3 {font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 200; font-size: 20pt; letter-spacing: 0.01em; line-height: 22pt; font-smooth: always; font-size: 16pt; line-height: 24px; }
h4 {font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 11pt; letter-spacing: 0.01em; line-height: 13pt; font-smooth: always; }
h5 {font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 11pt; letter-spacing: 0.01em; line-height: 13pt; font-smooth: always; font-size: 90%; }
h6 {font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 11pt; letter-spacing: 0.01em; line-height: 13pt; font-smooth: always; font-size: 80%; }

a {text-decoration: none; color:#2b5797;}
a:hover {text-decoration: underline;}
a.hand {cursor: pointer;}
a.focus:focus {text-decoration: underline;}

#maincontainer {padding: 10px 0px 10px 0px}
#top-user {position: fixed; margin-top: 15px}
#top-options {position: fixed; margin-top: 50px}
#main {}
.layer {}
.box {border: 1px solid #F7F7F9; padding: 10px 10px 5px 10px; margin-top: 10px}
.box-header {background-color: #F7F7F9; padding: 3px 10px}
.box-header .text {padding: 10px; display: inline-block;}
.fg-color-black{color:#000!important}
.fg-color-green{color:#00a300!important}
.fg-color-greenLight{color:#99b433!important}
.fg-color-greenDark{color:#1e7145!important}
.fg-color-red{color:#b91d47!important}
.fg-color-yellow{color:#ffc40d!important}
.fg-color-orange{color:#e3a21a!important}
.fg-color-orangeDark{color:#da532c!important}
.fg-color-pink{color:#9f00a7!important}
.fg-color-pinkDark{color:#7e3878!important}
.fg-color-purple{color:#603cba!important}
.fg-color-darken{color:#1d1d1d!important}
.fg-color-lighten{color:#d5e7ec!important}
.fg-color-white{color:#fff!important}
.fg-color-grayDark{color:#525252!important}
.fg-color-magenta{color:#ff0097!important}
.fg-color-teal{color:#00aba9!important}
.fg-color-redLight{color:#e11!important}
.bg-color-blue{background-color:#2d89ef!important}
.bg-color-blue.auto{color:#fff!important}
.bg-color-blueLight{background-color:#eff4ff!important}
.bg-color-blueDark{background-color:#2b5797!important}
.bg-color-blueDark.auto{color:#fff!important}
.bg-color-green{background-color:#00a300!important}
.bg-color-greenLight{background-color:#99b433!important}
.bg-color-greenDark{background-color:#1e7145!important}
.bg-color-greenDark.auto{color: #fff!important}
.bg-color-red{background-color:#b91d47!important}
.bg-color-yellow{background-color:#ffc40d!important}
.bg-color-orange{background-color:#e3a21a!important}
.bg-color-orangeDark{background-color:#da532c!important}
.bg-color-pink{background-color:#9f00a7!important}
.bg-color-pinkDark{background-color:#7e3878!important}
.bg-color-purple{background-color:#603cba!important}
.bg-color-darken{background-color:#1d1d1d!important}
.bg-color-lighten{background-color:#d5e7ec!important}
.bg-color-white{background-color:#fff!important}
.bg-color-white.auto{color: #111!important}
.bg-color-grayDark{background-color:#525252!important}
.bg-color-gray{background-color:#d1d1d1!important}
.bg-color-gray.auto {color: #111!important}
.bg-color-magenta{background-color:#ff0097!important}
.bg-color-teal{background-color:#00aba9!important}
.bg-color-redLight{background-color:#e11!important}
[class*=border-color]{border:2px solid}
.borderx1 {border: 1px solid}
.border-color-blue{border-color:#2d89ef!important}
.border-color-blueLight{border-color:#eff4ff!important}
.border-color-blueDark{border-color:#2b5797!important}
.border-color-green{border-color:#00a300!important}
.border-color-greenLight{border-color:#99b433!important}
.border-color-greenDark{border-color:#1e7145!important}
.border-color-red{border-color:#b91d47!important}
.border-color-yellow{border-color:#ffc40d!important}
.border-color-orange{border-color:#e3a21a!important}
.border-color-orangeDark{border-color:#da532c!important}
.border-color-pink{border-color:#9f00a7!important}
.border-color-pinkDark{border-color:#7e3878!important}
.border-color-purple{border-color:#603cba!important}
.border-color-darken{border-color:#1d1d1d!important}
.border-color-lighten{border-color:#d5e7ec!important}
.border-color-white{border-color:#fff!important}
.border-color-gray{border-color:#d1d1d1!important}
.border-color-grayDark{border-color:#525252!important}
.border-color-magenta{border-color:#ff0097!important}
.border-color-teal{border-color:#00aba9!important}
.border-color-redLight{border-color:#e11!important}

.tile {display: block; text-align: center; padding: 10px; border:3px solid transparent;}
.tile .tile-title {text-transform: uppercase;}
.tile .tile-content {float: left; vertical-align: top}
.tile .tile-title span {text-transform: capitalize; display: block;}

ul .tile {text-align: left; padding: 10px; border:3px solid transparent;}
.tile:hover {border:3px solid;}
/*ul .tile .tile-content {float: left; vertical-align: top}
ul .tile .tile-title {text-transform: uppercase; padding-left: 65px}*/
/*ul .tile .tile-title span {text-transform: capitalize; display: block;}*/
ul.view li {margin-bottom: 10px}

ul.circle li {list-style-type: disc; margin-left: 30px}

/**/
.pdx5 {padding: 5px}
.fontx16 {font-size: 16px !important}
.fontx24 {font-size: 24px !important}
.fontx32 {font-size: 32px !important}
.fontx48 {font-size: 48px !important}
.fontx128 {font-size: 128px !important}
.fontx256 {font-size: 256px !important}
.text-center {text-align: center; margin: 0px auto}
.text-left {text-align: left;}
.d-block {display: block!important;}
.d-inline {display: inline-block;}
.d-inline-m {display: inline-block; vertical-align: middle;}
a .d-block {display: block;}
.upper {text-transform: uppercase;}
img.auto {height: auto !important; width: auto !important;}

.mgx10 {margin: 10px}
.mgxb2 {margin-bottom: 2px}
.mgxb10 {margin-bottom: 10px}

.loaderx48 {width: 48px}

.clear {clear: both;}

.hgx50 {height: 50px}
.hgx100 {height: 100px}
.hgx200 {height: 200px}
.hgx400 {height: 400px}
.hgx150 {height: 150px}

.wdx100 {width: 100px !important}
.wdx150 {width: 150px !important}
.wdx90 {width: 90px !important}
.wdx80 {width: 80px !important}
.wdx60 {width: 60px !important}
.wdx40 {width: 40px !important}
.wdx30 {width: 30px !important}

/* Table */
table {width: 100%}
table thead {background: #F9F9F9; text-transform: uppercase;}
table thead .icon {background: none; border-bottom:0px solid;}
table tr {}
table tr td, table th {border: 1px solid #ddd; padding: 6px 10px; color: #444}
table tr td.bold {color: #111}
table tr td.title {text-transform: uppercase;}
table tr td.icon {width: 30px; padding: 0px; border: 0px solid;}

table.dummie td {padding: 0px; text-transform: uppercase;}
table.dummie a, table.dummie span {display: block; padding: 5px 8px}

table.white, table.white td, table.white, table.white td a {color: #fff; }
table.white.green td a:focus {background: #008641; color: #fff; font-weight: bold;}

table.strip-red {}
table.strip-red td:hover {background: #BC1C48; color: #fff }

hr {border-bottom: 1px solid #ddd; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid}
hr.black {border-bottom: 1px solid #1d1d1d;}
hr.spacing {margin: 5px 0px}

button, .button, input[type=button], input[type=submit] {font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 9pt; font-smooth: always; line-height: 11pt; font-size: 14px; padding: 6px 12px; line-height: 20px; background: #ccc; color: #353535; border-radius: 0; display: inline-block; text-align: center; vertical-align: middle; cursor: pointer; padding: 4px 10px; outline: none; border: 2px solid transparent; text-transform: uppercase; font-weight: bold;}
button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover {color: #111; border-color: #b3b3b3; background: #ccc; text-decoration: none}
button:focus, .button:focus, input[type=button]:focus, input[type=submit]:focus {border-color: #111;}

button.green, .button.green, input[type=button].green, input[type=submit].green {background: #008641; color: #fff }
button.green:hover, .button.green:hover, input[type=button].green:hover, input[type=submit].green:hover {background: #008641; color: #fff; border-color: #006933;}

button.red, .button.red, input[type=button].red, input[type=submit].red {background: #BC1C48; color: #fff }
button.red:hover, .button.red:hover, input[type=button].red:hover, input[type=submit].red:hover {background: #BC1C48; color: #fff; border-color: #A2002D;}

button.blue, .button.blue, input[type=button].blue, input[type=submit].blue {background: #2b5797; color: #fff }
button.blue:hover, .button.blue:hover, input[type=button].blue:hover, input[type=submit].blue:hover {background: #2b5797; color: #fff; border-color: #1a345a;}

button.black, .button.black, input[type=button].black, input[type=submit].black {background: #111; color: #fff }
button.black:hover, .button.black:hover, input[type=button].black:hover, input[type=submit].black:hover {background: #111; color: #fff; border-color: #b3b3b3;}

button.white, .button.white, input[type=button].white, input[type=submit].white {background: #fff; color: #111 }
button.white:hover, .button.white:hover, input[type=button].white:hover, input[type=submit].white:hover {background: #eee; color: #111; border-color: #aaa;}


.button.small {font-size: 10px; padding: 1px 10px}
button.small, input[type=button].small, input[type=submit].small {font-size: 10px; padding: 4px 10px}

input[type="text"], input[type="password"], textarea {background: #fff; border: 2px solid #d9d9d9; color: #333; font-family: arial; line-height: 24px; font-size: 13px; height: 32px; outline: none; padding: 4px 5px; resize: none;}
textarea{ height: 80px;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="text"].small:focus, input[type="password"].small:focus, textarea.small:focus {border:2px solid #444;}

input[type="text"].small, input[type="password"].small, textarea.small {background: #fff; border: 2px solid #d9d9d9; color: #333; font-family: arial; line-height: 24px; font-size: 13px; height: 26px; outline: none; padding: 4px 5px; resize: none;}
input[type="text"].error, input[type="password"].error, textarea.error {border: 2px solid #BC1C48; color: #BC1C48}

form.auto {width: 100%}
form.auto input {width: 100%}
form .field-group {margin-bottom: 10px}
form .field-group label {margin-bottom: 3px; text-transform: uppercase; font-size: 12px}
form .field-group img.auto {height: auto; width: auto;}
form .field-group img.hgx100 {height: 100px; width: auto;}
form .field-group img.hgx50 {height: 50px; width: auto;}
form .field-group img.wdx150 {height: auto; width: 150px;}
form .field-group.extra-info input {width: 91%; margin-left: -5px}
form .field-group.extra-info .button {width: 3.6%}
form .field-group.extra-info.two input {width: 80.7%; margin-left: -5px}
form .field-group.extra-info.three input {width: 73%; margin-left: -5px}
form .field-group.extra-info .button:first-child {margin-left: 0px;}
form .field-group.two .button, form .field-group.three .button {margin-left: -4px}
form .field-group label.error {font-size: 10px}
form .actions {}
form .actions.two input[type=button], form .actions.two input[type=submit]{width: 49%}
form .actions.two .button{width: 44%}

form.inline .field-group {display: inline-block; vertical-align: top; margin-bottom: 2px;}
form.inline .field-group label {margin-bottom: 0px; text-transform: uppercase; display: block; font-size: 11px}
form.inline .field-group label.error {font-size: 10px}
form.inline .extra {display: inline-block;}
form.inline .group {display: inline-block;}

form .info {}

.to-hide {display: none!important;}
.to-left {float: left!important;}
.to-right {float: right!important;}

.scroll-y {overflow-y: auto;}

.autocomplete-w1 {position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete {border:2px solid #999; background:#fff; color:#222; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; font-weight: bold;}
.autocomplete .selected { background:#222; color: #fff }
.autocomplete div { padding:10px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:bold; color:#3399FF; }

/*calendar*/
.fc-header-title h2 {font-size: 12px;}