#login {
background: url(../../img/login_bg.png);
}
#login_container {
margin: 0 auto;
padding-top: 100px;
margin-top:20px;
padding-bottom: 0px;
width: 50%;
}

#login_form {padding:10px; background:#fff;}
form { width:100%; }
form p {width:48%; display:inline-block;}

#username, #password  {
background: #fdfdfd;
border: 1px solid #d9d9d9;
border-top: 1px solid #ccc;
border-radius: 2px;
color: #666;font-size: 12px; height: 30px; padding: 6px 10px; width:90%;
}

.button {
  color: #fff;
  background:#2D89EF;
  border: 1px solid #0563CA;
  font-size: 12px;
  padding: 5px 10px;
  margin-top: 10px
}
.button:hover {
background: #1B7DE9;
}
.font-express {font-family: Helvetica,Arial,sans-serif; color: #eee; font-size:32px; font-weight: bold; display: inline-block;}
.img-express {display: inline-block; width: 20%}
.presentation {width: 100%}