/*
#222222	negro
#D11250 rojo
#DB5800 naranja
#006899 azul #0077AF :: #2D89EF;
#008F68 verde
* */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
  height: 100%;
  /*overflow: hidden;*/
}

body {
/*  background: url(../img/bg.png);*/
  color: #666;
  font-family: "Aller", "Lucida Grande", sans-serif;
  font-size: 12px;
  height: 100%;
  /*min-width: 1024px;*/
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

a.hand {cursor: pointer;}
td.hand {cursor: pointer;}

body#login {
  background: url(../img/login_bg.png);
}

/* Primary navigation */
#section-choices {position: fixed; width: 23%; height: 100%}

nav#primary {
  background: #222;
  float: left;
  height: 100%;
  width: 14%;
  border-right:1px solid #000;
}

nav#primary ul li a {
  color: #777;
  display: block;
  font-size: 11px;
  line-height: 16px;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear;
}

nav#primary ul li a span {
  display: block;
  font-size: 24px;
  padding-top: 14px;
}

nav#primary ul li a:hover {
  color: #ededed;
}

nav#primary ul li.active a {
  color: #ededed;
}

nav#primary ul li.bottom a {
/*  bottom: 7px;
  position: absolute;
  width: 50px;*/
}

nav#primary ul li a .icon32 {
  height: 32px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: -6px;
  padding: 0;
  width: 32px;
}

nav#primary ul li a:hover .icon32, nav#primary ul li.active a .icon32 {
  background-position: 100%;
}

/* Secondary navigation */

nav#secondary {
  background: url('../img/login_bg.png');
  float: left;
  height: 100%;
  width: 85%;
  /*overflow:auto;*/
}

nav#secondary ul {
  width: 100%;
}

nav#secondary ul li a {
  border-right:1px solid #cdcdcd;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #fff;
  color: #666;
  display: block;
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 12px 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #eee;
}

nav#secondary ul li a:hover {
  background: #fff;
}

nav#secondary ul li.active a {
  /*background-color: #497eac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(107, 160, 206)), to(rgb(73, 126, 172)));
  background-image: -webkit-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -moz-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -o-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -ms-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba0ce', EndColorStr='#497eac');*/
  background:#2D89EF;
  border-bottom: 1px solid #004C70;
  border-right: 1px solid #004C70;
  border-top: 1px solid #004C70;
  color: #fff;
}

nav#secondary ul li:first-child a {
  border-top: none;
}

/* Main section */

section#maincontainer {
  height: 95%;
  float: right;
  /*overflow: auto;*
  /*-webkit-overflow-scrolling: touch;*/
 width:75%; padding:10px;
}

#main {
}

/* Notifications */

/*#notifications {
  background: #f1f1f1;
  bottom: 0;
  display: none;
  margin-bottom: -1px;
  min-height: 48px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  width: 251px;
}

#notifications > a {
  background: url(../img/notifications_bg.png) repeat-x bottom;
  display: block;
  font-size: 11px;
  padding-bottom: 20px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: 0 1px 0 #fff;
  position: relative;
  z-index: 2;
}

#notifications ul {
  bottom: 0;
  text-align: left;
  padding-bottom: 6px;
  position: absolute;
}

#notifications ul li {
  line-height: 28px;
  margin-bottom: -6px;
  padding-left: 8px;
  position: relative;
}

#notifications ul li.error {
  color: #ad6262;
}

#notifications ul li span {
  margin-right: 4px;
}

#notifications .time {
  color: #bbb;
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 5px;
}*/

/* Obtrusive notifications */

/*.notification {
  width: 960px;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  margin:0px auto 7px auto;
  text-transform: uppercase;
}

.notification .close {
  font-weight: bold;
  position: absolute;
  right: 10px;
  text-decoration: none;
}

.notification .icon {
  display: block;
  float: left;
  margin-right: 7px;
  height: 24px;
}

.notification.success {
  background: #00A300;
  color: #fff;
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

.notification.success .icon {
  
}

.notification.success .close {
  color: #5ba54f;
}

.notification.error {
  background: #B91D47;
  color: #fff;
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

.notification.error .icon {

}

.notification.error .close {
  color: #a54f4f;
}

.notification.information {
  color: #fff;
  background: #2D89EF
}

.notification.information .icon {

}

.notification.information .close {
  color: #5089a6;
}

.notification.warning {
  background: url(../img/notification_warning.png) repeat-x;
  color: #a6a450;
  text-shadow: 0 1px 0 #fcfccf;
}

.notification.warning .icon {
  background: url(../img/notification_warning_icon.png) no-repeat center;
}

.notification.warning .close {
  color: #a6a450;
}*/

/* Quick actions */

.quick-actions {
  margin-bottom: 16px;
}

.quick-actions a {
  background: #ebebeb;
  color: #666;
  display: inline-block;
  *display: inline;
  font-size: 11px;
  line-height: 32px;
  margin-right: 3px;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  min-width: 65px;
  margin-bottom:5px
}

.quick-actions a.red {
  background: #B91D47;
  color: #fff;
  text-shadow:none;
}
.quick-actions a.blue {
  background: #2D89EF;
  color: #fff;
  text-shadow:none;
}
.quick-actions a.black {
  background: #2f2f2f;
  color: #fff;
  text-shadow:none;
}
.quick-actions a.green {
  background: #00A300;
  color: #fff;
  text-shadow:none;  
}
.quick-actions a.orange {
  background: #DA532C;
  color: #fff;
  text-shadow:none;  
}
.quick-actions a:hover {
  /*color: #4f4f4f;*/
}

.quick-actions a span, .quick-actions a i {
  display: block;
  font-size: 32px;
  padding-top: 20px;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

.quick-actions a.disabled {
  color: #cacaca;
  cursor: default;
}

.quick-actions a span.icon32 {
  background-repeat: no-repeat;
  height: 32px;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: -11px;
  width: 32px;
}

/* Boxes */

.box {
  background-color: #F7F7F9;
  margin-bottom: 16px;
}
.box-header {
  background-color: #006AC1;
  height: 40px;
}
.box-header.disabled {
  background-color: #2f2f2f;
}
.box-header.white {
 background-color: #fff;
 border: 1px solid #E1E1E8;
 border-bottom: 0px;
}
.box-header .glyph {
  float: left;
  font-size: 16px;
  line-height: 40px;
  margin-right: -3px;
  padding-left: 14px;
  text-shadow: 0 1px 0 #fff;
}

.box-header .button {
	margin-top:3px;
	float:right;
}

.box-header .button .glyph {
  float: none;
  font-size: 16px;
  line-height: 40px;
  margin-right: -3px;
  padding-left: 0px;
  text-shadow: none;
}

.box-header .icon16 {
  float: left;
  height: 16px;
  width: 16px;
  margin-left: 14px;
  margin-right: -3px;
  margin-top: 11px;
}

.box-header h1 {
  color: #fff;
  float: left;
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 40px;
  padding-left: 14px;
  text-transform: uppercase;
}

.box-header.white h1 {
  color: #000
}

.box-header ul {
  border-left: 1px solid #e1e1e1;
  float: right;
}

.box-header ul li {
  display: inline;
  margin-left: -3px;
}

.box-header ul li a {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #e1e1e1;
  color: #999;
  display: inline-block;
  *display: inline;
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1;
}

.box-header ul li a:hover {
  background: #eee;
}

.box-header ul li:first-child {
  margin-left: 0;
}

.box-header ul li:last-child a {
  border-right: none;
}

.box-header ul li.active a {
  background: #fafafa;
  border-left: 1px solid #fafafa;
  cursor: default;
}

.box-content {
  padding: 14px;
  border: 1px solid #E1E1E8;
}

.box-content.black {background: #222; color: #fff; border: 0px}
.box-content.white {background: #fff; color: #000;}


/* Columns */

form > .column-left {
  border-right: 1px solid #e1e1e1;
  padding-right: 2%;
}

p strong {color: #333}

.column-left {
  float: left;
  width: 49%;
}

.column-left.only {
  width: 30%;
}
.column-left.only .column-left {width: 100%}

.column-left.complement {
  width: 66%
}

.line-left {border-left: 1px solid #ddd}
.line-right {border-right: 1px solid #ddd}

.column-right {
  float: right;
  width: 49%;
}

.column-right.complement {
  width: 66%
}

.column-right.only {
  width: 30%
}

form .column-left, form .column-right {
  width: 48%;
}

.clear {
  clear: both;
}

/* Forms */

form p {
  margin-bottom: 5px;
  position: relative;
}

form input[type="text"], form input[type="password"], form textarea {
  background: #fff;
  border: 2px solid #d9d9d9;
  color: #333;
  font-family: arial;
  line-height: 24px;
  font-size: 13px;
  height: 30px;
  outline: none;
  padding: 4px 10px;
  resize: none;
  width: 100%;
}
form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus {border:2px solid #444;}

form input[type="text"].subline, form input[type="password"].subline, form textarea.subline {border:0px; border-bottom: 2px solid #d9d9d9;}

form input::-webkit-input-placeholder, form input::-moz-placeholder {
  color: #bbb;
}
form input[type="text"].blue, form input[type="password"].blue, form textarea.blue  {
  border: 2px solid #2D89EF;
}

form input[type="submit"].green:focus, form input[type="button"].green:focus {
  border-style:solid;
  border-color:#d1d1d1;
  border-width: 2px;
  font-weight: bold;
}

form input[type="submit"].red:focus, form input[type="button"].red:focus {
  border-style:solid;
  border-color:#d1d1d1;
  border-width: 2px;
  font-weight: bold;
}

form textarea {
  height: 112px;
  line-height: 18px;
  margin-bottom: 0;
  padding-top: 8px;
}

form div.combined {
  position: relative;
}

form div.combined p {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

form div.combined p input {
  display: inline;
}

form p.with-btn {}

form p.with-btn input {width: 75%;  display: inline-block; vertical-align: top; border-right: 0px}
form p.with-btn input:focus { border-right: 0px}
form p.with-btn .button { display: inline-block; vertical-align: top; margin:0 0 0 -4px; height: 26px!important; line-height: 30px}
form p.with-btn .button.no-affect {margin: 0px} 
form div.combined p:first-child input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
}

form div.combined p:first-child {
  margin-right: -3px;
}

form div.combined p.last-child {
  position: absolute;
  right: 0;
  top: 0;
}

form div.combined p.last-child input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

form p.small { width: 25% }
form p.medium { width: 51% }
form p.large { width: 76% }
form p.high input[type="text"], form p.high input[type="password"] {height: 48px; font-size: 32px}

form p .icon {
  position: absolute;
  right: 8px;
  top: 7px;
}

form p .icon.valid {
  display: none;
}

form p input.error, form p textarea.error {
  border: 2px solid #d29797;
  color: #ad6262;
}

form p span.error {
  background: url(../img/error.png) no-repeat center;
  display: block;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  z-index: 99;
}

form p span.error label {
  background: url(../img/tooltip_bg.png);
  border-radius: 3px;
  bottom: 31px;
  color: #fff;
  display: none !important;
  font-size: 11px;
  line-height: 17px;
  padding: 6px 9px;
  position: absolute;
  right: -25px;
  text-align: left;
  width: 180px;
  z-index: 9;
}

form p .tip {
  background: url(../img/tip_bg.png) no-repeat;
  bottom: -6px;
  display: block;
  height: 6px;
  position: absolute;
  right: 34px;
  width: 12px;
  z-index: 9;
}

form p span.error:hover label {
  display: block !important;
}

form p > label {
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #666;
  line-height: 19px;
  text-indent: 4px;
  padding: 3px 10px;
}

label.radio {
  
}

label.spacing {padding: 6px 0; display: block;}

label.radio input {
  position: static; top: 0px; vertical-align: middle;
}

form p > label.focus {
  color:#fff;
  background: #444;
}

form p > label.blue {
  color:#fff;
  background: #2D89EF;
}

form p {
  padding: 0px 5px;
  clear: both;
  color: #999;
  line-height: 24px;
}

form p:hover, form p:focus {
  
}

form p small {
  font-size: 11px;
  font-style: italic;
  float: right;
  margin-bottom: 14px;
}

form > div > p:last-child {
  margin: 0;
}

/* Charts legend */

.legend table {
  width: auto;
}

.legend table tr, .legend table td {
  border: none;
  font-size: 12px;
  padding: 4px;
}

/* Table checkbox fix */

table td .prettyCheckbox {
  position: absolute;
}

/* Tables */

table {
  width: 100%;
  border: 1px solid #E1E1E8;
}

table tr {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #fff;
}

table a.link {color: #555; }
thead tr {
  border-top: none;
  background:#222;
  color:#fff;
  font-weight:normal;
}

table tbody tr:last-child {
  border-bottom: none;
}

tbody tr:nth-child(odd) {
  background: #fdfdfd;
}

tbody tr .close {
   background: url('../img/notification_error_icon.png') 2px 2px no-repeat;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

tbody tr td, thead tr th {
  border-right: 1px solid #f4f4f4;
  padding: 8px 14px;
  position: relative;
  text-align: left;
}

table.min tbody tr td, table.min thead tr th { padding:5px; }

td.green {background: #00A300; color: #fff}
/*td.green.important {background: #617D26 !important; color: #fff !important}*/
td.green-light.important {background: #B6CF80; color: #000}
td.purple {background: #866EA5; color: #fff }
/*td.purple.important {background: #866EA5!important; color: #fff !important}*/
/*td.purple-light.important {background: #DABDFD!important; color: #000 !important}*/
td.purple-light {background: #DABDFD; color: #000}
/*td.black.important {background: #353535!important; color: #fff !important}*/
td.black {background: #333; color: #fff}
td.blue {background:#2D89EF; color: #fff}
/*td.blue.important {background:#2D89EF !important; color: #fff !important}*/
td.red {background: #B91D47; color: #fff}
td.orange {background: #DB5800; color: #fff}
td.red-light {background: #FFDDDD; color: #000}
/*td.red-light.important {background: #FFDDDD !important; color: #000 !important}*/
/*td.red.important {background: #B91D47 !important; color: #fff !important}*/
td.orange {background: #DB5800; color: #fff}

.handsontable th.red, .handsontable td.red {background: #B91D47; color: #fff}
.handsontable th.green, .handsontable td.green {background: #617D26; color: #fff}
.handsontable th.purple, .handsontable td.purple {background: #866EA5; color: #fff}
.handsontable th.black, .handsontable td.black {background: #333; color: #fff}
.handsontable th.orange, .handsontable td.orange {background: #DB5800; color: #fff}
.handsontable th.gray, .handsontable td.gray {background: #aaa; color: #222}
.handsontable th.area, .handsontable td.area {background: none; color: #000}
.handsontable th.current, .handsontable td.current {background: none; color: #000}
.handsontable td.heightmin {height: 5px}

td.black i {color: #fff; padding: 10px}

#calendar table td, #calendar table th {
  position: static;
}

tbody tr td:last-child, thead tr th:last-child {
  border-right: none;
}

table.skin-green tbody tr:hover {
	background:#CCFFCC;
}

table.skin-green tbody tr.green {
  background:#CCFFCC;
}
table.skin-green tbody tr.blue {
  background:#C4C4FF;
}
table.skin-green tbody tr.red {
  background:#FFD5D5;
}
tbody tr td:first-child, thead tr th:first-child {
  border-left: none;
}

table.skin-white tbody {border: 1px solid #888}
table.skin-white tbody tr {background: #fff; border-top: 1px solid #888}

table.light {background: #fff}
table.light tr {background: none; border-top: 0px}
table.light tr td {color: #000; font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif; font-weight: normal;}
table.light tbody tr td, table.light thead tr th {border-right: 1px solid #DDD; color: #333333;}
table.light tbody tr td.red, table.light thead tr th.red, table.light tbody tr td.orange, table.light thead tr th.orange, table.light tbody tr td.green, table.light tbody tr td.blue, table.light tbody tr td.black, table.light tbody tr td.purple {color: #fff}

table.empty tbody tr td {padding: 0px; margin: 0px}
table.empty .empty-complement {padding: 8px; color: inherit; display: block; text-decoration: none;}
table.empty .empty-complementx4 {padding: 4px; color: inherit; text-decoration: none;}

table .group-btn-tools {padding-left: 10px}

table.hover-fore-blue {border:2px solid #2D89EF;}
table.hover-fore-blue .striped {border-bottom:2px solid #2D89EF;}
table.strip-white td {border:1px solid #fff;}

thead {
  color: #898989;
  font-size: 13px;
  font-weight: bold;
}

.controls-actions {padding:0px 4px;}

.dataTables_length {
  display: none;
}
.dataTables_filter {
  padding: 5px;
  background: #222;
  color: #fff;
  border-bottom: 1px solid #444
}
.dataTables_filter input {
  background: #fff;
  border: none;
  border-radius: 2px;
  color: #666;
  font-family: "Aller", "Lucida Grande", sans-serif;
  width: 95%;
  margin:0px auto;
  display: block;
}
.dataTables_info {
  color: #949494;
  display: inline;
  font-size: 11px;
  line-height: 30px;
}

.dataTables_paginate {
  color: #949494;
  float: right;
  line-height: 30px;
}

.dataTables_paginate .paginate_active {
  color: #fff;
  background: #222;
  padding: 5px 10px;
}

.dataTables_paginate .paginate_button {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  line-height: 30px;
  padding: 10px;
  margin: 0px 10px;
  zoom: 1;
}

.dataTables_processing { text-align: center;}
.dataTables_paginate .paginate_button:hover {
  color: #666;
}

.dataTables_paginate .paginate_button_disabled {
  display: none;
}

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}

.sorting_asc {
  background: url(../img/sorting_bg.png) no-repeat 90% 0px;
}

.sorting_desc {
  background: url(../img/sorting_bg.png) no-repeat 90% -36px;
}

/* Statistics */

ul.statistics {
  margin: 0px 0px 10px 0;
  padding-top: 10px;
  border: 1px solid #E1E1E8;
}

.box ul.statistics li {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #fff;
  list-style: none;
}

ul.statistics li:first-child {
  border-top: none;
}

ul.statistics li:last-child {
  border-bottom: none;
}

ul.statistics li a {
  color: #666;
  display: block;
  line-height: 32px;
  text-decoration: none;
}

ul.statistics li a:hover {
  color: #999;
}

ul.statistics li a span {
  display: inline-block;
  *display: inline;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 70px;
  zoom: 1;
}

ul.list-data {
  list-style-type: circle;
}

ul.list-data li {
  padding: 5px;
}

ul.table {}
ul.table li {list-style-type: none;}
ul.table li a {}

.list-data a {color: #222; font-size: 14px; text-decoration: none; padding: 3px 10px}
.list-data a:hover {background: #205081; color: #fff; border-radius: 10px; padding: 3px 10px}

/* BartMap */
#change-status {padding: 0px 0px 20px 0px; border-top: 1px solid #cdcdcd}
#bartmap {
  width:520px;
  margin: 0px auto 20px auto;
}

#bartmap ul li {
    width: 100px;
}

#bartmap ul.history-line {
  list-style: none outside none;
}

#bartmap ul.history-line li {
    background: url("../img/progress_columnbg.gif") no-repeat scroll 50% 0 transparent;
    color: #999999;
    display: block;
    float: left;
    font-size: 11px;
    margin-top: -24px;
    padding-top: 15px;
    text-align: center;
}

#bartmap ul.history-line {
    margin-bottom: 0;
    padding-top: 20px;
    position: relative;
}

#bartmap .progress_bar {
    background: url("../img/progressbarbg.gif") repeat-x scroll 0 0 transparent;
    display: block;
    height: 4px;
    margin: 0 70px -4px;
}

#bartmap .progress_bar {
    margin: 20px 50px -24px;
    width: 400px;
}

#bartmap .progress {
    background: url("../img/progressbg.gif") repeat-x scroll 0 0 transparent;
    display: block;
    height: 5px;
    margin: 19px 0 -4px 50px;
    padding: 0;
    width: 0px;
}

#bartmap ul li.hecho { background-image: url("../img/progress_activebg.gif"); color: #555555; font-weight: bold;}
#bartmap ul li.red { background-image: url("../img/progress_activered.png"); color: #555555; font-weight: bold;}
#bartmap ul.history-line a {text-decoration: none; color:inherit;}
#bartmap ul.history-line a:hover { text-decoration: underline; color:inherit; }
#bartmap-msg {width:520px; margin: 0px auto;}
#more-about-bartmap {width:520px; margin: 0px auto;}
#more-about-bartmap h5 {font-weight: bold; text-align: center;}
#more-about-bartmap div {margin: 10px 0px; border: 0px}
#more-about-bartmap .date {padding: 3px 10px; color: #fff; text-decoration: none; background:#257C50; margin: 5px; border: 0px; border-radius: 10px}
#more-about-bartmap .text {border: 0px; font-weight: bold;}
/* Select boxes */

select {
  width: 100%;
}

/* Modal functionality */

#overlay {
  background: url(../img/overlay_bg.png);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999;
  overflow:auto;
}

#modalcontainer {
  margin: 50px auto;
  width: 640px;
}

/* File inputs */

.customfile-input {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100px;
  opacity: 0;
  position: absolute;
  z-index: 999;
}

.customfile {
  background: url(../img/input_bg.png) repeat-x #fdfdfd;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 1px 0 #fff;
  font-family: "Aller", "Lucida Grande", sans-serif;
  font-size: 12px;
  height: 30px;
  outline: none;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
}

.customfile-disabled {
  cursor: default;
  opacity: .5;
}

.customfile-feedback {
  color: #999;
  display: block;
  line-height: 30px;
}

.customfile-feedback-populated {
  color: #666;
}

.customfile-button {
  background: url(../img/file_bg.png) repeat-x;
  border-left: 1px solid #d9d9d9;
  color: #666;
  cursor: pointer;
  float: right;
  line-height: 30px;
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
}

.customfile .error {
  display: none !important;
}

/* Action bar */

.action_bar {
  padding: 7px 14px 7px 8px;
}

.box-content .action_bar {
  margin: -14px;
  margin-top: 14px;
}

/* Buttons */

input.button, .button {
  background: url(../img/buttongray_bg.png) repeat-x #ebebeb;
  border: 1px solid #c4c4c4;
  color: #757575;
  display: inline-block;
  *display: inline;
  font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  height: 31px;
  line-height: 33px;
  margin-right: 4px;
  padding: 0 12px;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1;
	border-radius: 0px;
}

.box-content > .button {
  margin-bottom: 7px;
}

input.button {
  height: 33px;
  margin-top: -3px;
}

.button.color-blue, .button .color-blue {
	color:#006899;
}
.button.blue {
  color: #fff;
  background:#2D89EF;
  border: 1px solid #0563CA;
}

.button.black {
  color: #fff;
  background:#2f2f2f;
  border: 1px solid #222;
}
.button.red {
  color: #fff;
  background: #D11250;
  border: 1px solid #9E0033;
}

.button.orange {
  color: #fff;
  background: #DB5800;
  border: 1px solid #8D3800;
}

.button.green {
  color: #fff;
  background: #008F68;
  border: 1px solid #00684B;
}

.button.green-live {
  color: #fff;
  background: #00A300;
  border: 1px solid #00684B;
}

.button:hover {
  background: #ebebeb;
}

.button.blue:hover {
  background: #1B7DE9;
}
.button.black:hover {
  background:#2a2a2a;
}
.button.red:hover {
  background: #C60E4A;
}

.button.orange:hover {
  background: #D05300;
}

.button.green:hover {
  background: #00835F;
}

.button.green-live:hover {
  background: #009000;
}

.button .glyph {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin-right: 8px;
  margin-top: -100%;
}
.button.plain .glyph {
  margin-top: 4%;
}

.button.plain.horizontal.blue {
  height: 30px;
  line-height: 24px;
  border-radius: 0px;
  border: 2px solid #0563CA
}

.button.plain.block {
  display: block;
  text-align: center;
  margin-top: 5px;
  border-radius: 0px;
}

.button .icon16 {
  float: left;
  height: 16px;
  width: 16px;
  margin-left: -1px;
  margin-right: 8px;
  margin-top: 7px;
}

.button.small {
  font-size: 10px;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
}

.button.onlyicon {
  padding: 1px 5px 0 5px;
}

.button.small .icon16 {
  background-size: 28px;
  background-repeat: no-repeat;
  height: 14px;
  margin-top: 5px;
  margin-right: 7px;
  width: 14px;
}

.button.small .glyph {
  font-size: 14px;
}

.button.plain {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  color: #aaa;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  margin: 0;
  margin-right: 0px;
}

.button.plain.blue {
  color: #fff;
  background:#2D89EF;
  border: 1px solid #0563CA;
}

.button.plain.red {
  color: #fff;
  background: #D11250;
  border: 1px solid #9E0033;
}

.button.plain.orange {
  color: #fff;
  background: #DB5800;
  border: 1px solid #B54800;
}

.button.plain.green {
  color: #fff;
  background: #008F68;
  border: 1px solid #00684B;
}

.button.plain.white {
  color: #454545;
  background: #fff;
  border: 2px solid #aaa;
}

.button.plain.input {
  height: 24px;
  line-height: 24px;
}
.button.plain.white:focus {
  border: 2px solid #000;
}

.button.plain.white.selected {
  border: 2px solid #000;
}

.button.plain.black {
  color: #fff;
  background:#2f2f2f;
  border: 1px solid #222;
}

.button.plain:hover {
  color: #777;
}

.button.plain.blue:hover {
  background: #1B7DE9;
  color: #fff;
}

.button.plain.red:hover {
  background: #C60E4A;
  color: #fff;
}

.button.plain.orange:hover {
  background: #D05300;
  color: #fff;
}

.button.plain.green:hover {
  background: #00835F;
  color: #fff;
}

.button.plain.black:hover {
  background:#111;
  color: #fff
}

.button.plain .glyph {
  font-size: 16px;
  margin-right: 0px;
}

.button.plain .icon16 {
  background-size: 24px;
  height: 12px;
  margin-left: -3px;
  margin-top: 5px;
  width: 12px;
}

.button.plain:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.button.plain:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.button.plain.spacing {
  margin-right: 5px;
  border-radius: 2px;
}

.button.plain.text {
font-size: 14px;
}
.button.plain.text .glyph {margin-top: 0px;}
.button.plain.text .text {
  font-size: 9px;
}
.button.plain.in-table {height: 14px}
.button.plain.in-table i {vertical-align: top;}
.button span.ui-icon {
  float: left;
  margin-right: 8px;
  margin-top: 7px;
  opacity: .7;
}

/* Sliders */

.ui-slider {
  border: none;
  margin-bottom: 14px;
}

.ui-slider:last-child {
  margin: 0;
}

.ui-slider-range {
  border-radius: 10px
}

.ui-slider-horizontal {
  background: url(../img/slider_bg.png) repeat-x;
  height: 7px;
}

.ui-slider-horizontal .ui-slider-handle {
  background: url(../img/slider_handle.png) no-repeat;
  border: none;
  cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background-position: 0 -16px;
}

.ui-slider-horizontal .ui-slider-range {
  background: url(../img/slider_active_bg.png) repeat-x;
}

.ui-slider-vertical {
  background: url(../img/slider_vert_bg.png);
  height: 100px;
  margin-right: 14px;
  margin-bottom: 0;
  width: 7px;
}

.ui-slider-vertical:last-child {
  margin: 0;
}

.ui-slider-vertical .ui-slider-handle {
  background: url(../img/slider_handle.png) no-repeat;
  border: none;
  cursor: pointer;
  margin-left: -1px;
}

.ui-slider-vertical .ui-slider-handle.ui-state-active {
  background-position: 0 -15px;
}

.ui-slider-vertical .ui-slider-range {
  background: url(../img/slider_vert_active_bg.png);
}

.slider-vertical {
  float: left;
}

/* Progress bar */

.ui-progressbar {
  height: 24px;
}

/* Calendar */

table.fc-header {
  display: block;
  height: 40px;
  margin-top: -40px;
}

table.fc-header .fc-header-title h2 {
  color: #898989;
  line-height: 40px;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
}

table.fc-header tr {
  border: none;
}

table.fc-header tr td {
  background: none;
  border: none;
}

table.fc-header .fc-header-right {
  padding-right: 8px;
  padding-top: 7px;
}

table.fc-header .fc-button {
  background: none;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

table.fc-header .fc-button .fc-button-inner {
  background: url(../img/buttongray_bg.png) repeat-x #ebebeb;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  color: #757575;
  display: inline-block;
  *display: inline;
  font-family: "Tahoma", sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 0 4px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  zoom: 1;
  -khtml-user-select: none;
  -moz-user-select: none;
}

table.fc-header .fc-button .fc-button-inner:hover {
  background: #f7f7f7;
}

table.fc-header .fc-button.fc-state-disabled .fc-button-inner {
  color: #ccc;
}

table.fc-header .fc-button.fc-state-active .fc-button-inner {
  background: url(../img/buttonblue_bg.png) repeat-x #477dae;
  border: 1px solid #477dae;
  color: #fff;
  text-shadow: 0 1px 0 #104266;
}

table.fc-header .fc-button-month .fc-button-inner, table.fc-header .fc-button-prev .fc-button-inner {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

table.fc-header .fc-button-basicDay .fc-button-inner, table.fc-header .fc-button-next .fc-button-inner {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

table.fc-header .fc-button-basicWeek .fc-button-inner, table.fc-header .fc-button-today .fc-button-inner {
  border-radius: 0;
}

table.fc-header .fc-button .fc-button-inner .fc-button-content {
  height: 24px;
  line-height: 24px;
}

table.fc-header .fc-button .fc-button-inner .fc-button-effect {
  display: none;
}

table.fc-header .fc-button-prev .fc-button-inner, table.fc-header .fc-button-next .fc-button-inner {
  font-size: 12px;
  font-weight: normal;
}

table.fc-header .fc-button-prev .fc-button-inner .fc-button-content, table.fc-header .fc-button-next .fc-button-inner .fc-button-content {
  line-height: 14px;
}

table.fc-content .fc-event .fc-event-skin {
  background: red !important;
}

.fc-content table tbody tr td, .fc-content table thead tr th {
  border-color: #ddd;
}

.fc-content table thead tr th {
  font-size: 12px;
  padding: 7px;
}

.fc-content .fc-event .fc-event-title {
  display: block;
  font-size: 11px;
  line-height: 16px;
  padding: 2px 4px;
}

.fc-content .fc-event .fc-event-time {
  display: block;
  padding: 2px 4px;
}
/* calendar metro */
.metro table.fc-header {display: block; height: auto; margin: 0px}
.metro table.fc-header .fc-header-left { padding-left: 8px; padding-top: 7px; padding-bottom: 7px}
.metro table.fc-header .fc-header-center {padding-top: 7px; border-bottom: 7px}
.metro table.fc-header .fc-header-title h2 {margin: 0px; line-height: 24px}
.metro .fc-header .fc-button {margin: 0px; margin-right: 1px}
.metro table.fc-header .fc-button-inner {border-radius: 0px}
.metro table.fc-header .fc-button.fc-state-active .fc-button-inner {background:#2D89EF; border: 1px solid #0563CA;}
/*.metro table.fc-header .fc-button .fc-button-inner .fc-button-content {line-height: 24px; height: auto;}
.metro .fc-header tbody tr td, .metro .fc-header thead tr th {padding:0px 10px 5px;}

.metro table.fc-header .fc-header-right {padding:0px 10px 5px}
.metro table.fc-header .fc-button {vertical-align: top}

.metro table.fc-header td {width: 10%}
.metro table.fc-header .fc-header-center {padding-top: 10px}*/
/* Styles */

a {
  color: #999;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

p {
  line-height: 20px;
  margin-bottom: 14px;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #888;
  line-height: 20px;
  margin-bottom: 14px;
  padding-left: 14px;
}

p.warning {
  background: url(../img/warning.png) no-repeat;
  font-style: italic;
  line-height: 16px;
  padding-left: 25px;
  margin-left: 1px;
}

input {
  outline: none;
}

.nomargin {
  margin: 0;
}

strong {
  font-weight: bold;
}

.red {
  color: #ad6262;
}

.red-full {
  color: #B91D47;
}

.green {
  color: #00A300
}

.fore-blue {
  background: #2D89EF;
  padding: 3px 5px
}

.fore-red {
  background: #B91D47;
  padding: 3px 5px
}

.box-content h1, .box-content h2, .box-content h3, .box-content h4, .box-content h5, .box-content h6 {
  margin-bottom: 14px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.box-content ul li {
  line-height: 20px;
  list-style: disc;
  margin-left: 14px;
}

.box-content ol li {
  line-height: 20px;
  list-style: decimal;
  margin-left: 14px;
}

.box-content ol li ol li {
  list-style: lower-alpha;
}

/* Login page */

#login_container {
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  width: 602px;
}

#login_form {
  background: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 1px 5px black;
  margin: 0 auto;
  padding: 8px;
  position: absolute;
  top: 64px;
  zoom: 1;
}

#login_form p {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-right: 4px;
  width: 240px;
  zoom: 1;
}

#login_form button {
  line-height: 30px;
  margin: 0;
}

/* Icons */

.icon {
  display: block;
  height: 16px;
  width: 16px;
}

.icon.tick {
  background-position: 0 0;
}

.icon.info {
  background-position: 0 -16px;
}

.icon.warning {
  background-position: 0 -32px;
}

.icon.search {
  background-position: 0 -48px;
}

.icon.calendar {
  background-position: 0 -64px;
}

.focus {border: 1px solid #2D89EF !important;}

/* progress */
.progress {
  height: 5px
}

.progress .xpand {
  background: #2187E7; height: 5px; margin: 2px 0px; display: block; width: 0px;
}

/* touch slider */
.touchslider .touchslider-viewport {width: 100%; overflow-x:hidden; overflow-y:scroll; height: 300px}
.touchslider .touchslider-nav-item {display: none}
.box-content .touchslider .action_bar {margin-left: -3px}

.img-decoration {border: 5px solid #cdcdcd}
.img-photo {height: 190px; width: 160px; overflow: hidden; background: #fff; text-align: center;}
.img-photo .text {padding-top: 70px}
/* Tablet orientation */

#rotatedevice {
  display: none;
}

/* fuente */
.font-open {font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif; font-weight: 200;}

/* confirmation */
.yes, .cancel {background: #ccc; color: #333; padding: 5px 10px; margin-left: 5px; display: inline-block; margin-top: 5px}

.question {position: fixed; top:100px; text-align: center; width: 100%; height: 78px; font-size: 16px; line-height: 1.5em; padding: 10px 0 0 0; z-index: 10; background: #B91D47; left: 0; color: #fff}
.question.black {background: #2d2d2d}


/* Elegant */
.title-elegant {display: inline-block; font-size: 16px; margin-right: 10px; text-align: center; color: #222;} 

/* block-nota */
.group-nota { padding: 10px 0px; background: #cdcdcd }
.block-nota { padding: 5px 10px; border:1px solid #aaa; }

.area-green { border:2px solid #008F68; border-radius: 2px; padding:3px 10px; background:#fff; margin-bottom:10px;}
.area-orange { border:2px solid #DB5800; border-radius: 2px; padding:3px 10px; background:#fff; margin-bottom:10px;}
.area-blue { border:2px solid #006899; border-radius: 2px; padding:3px 10px; background:#fff; margin-bottom:10px;}
.sub-line { border-bottom:1px dashed #333; display:inline-block; padding-right:100px;}
/*.form-first-part { padding:10px; border-radius: 2px; border:1px solid #FAFAFA; content}*/
/*.form-first-part .icon-font:before { content: 'M'; font-family: 'Pictos'; text-transform: none; font-size:60px; color:#FFA500;}*/
/*.form-first-part:hover {border:1px solid #90EE90; }
.form-second-part { padding:10px; border-radius: 2px; margin-top:10px;  border:1px solid #FAFAFA;}
.form-second-part:hover {border:1px solid #FFA500; }*/
.chzn-container {width:100%;}
.load-proccess-ex, .load-proccess {background:url('../img/ajax-loader.min.gif') no-repeat; padding:16px 16px; display:inline-block; vertical-align:top; margin-top:3px;}
body .to-hide {display:none;}
.rows-link {cursor:pointer;}
.header-tools {padding: 5px 5px 15px; margin: 5px; border: 1px solid #cdcdcd; background: #eee; height: 15px }

/*.autocomplete-w1 {left: 0; margin: 6px 0 0 6px; position: absolute; top: 0;}
.autocomplete { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #999999; cursor: default; margin: -6px 6px 6px -6px; max-height: 350px; overflow: auto; text-align: left;}
.autocomplete div {overflow: hidden; padding: 5px 10px; }
.autocomplete .selected {background: #C9E6ED;}
.autocomplete div {overflow: hidden; padding: 5px 10px; }
.autocomplete strong {color: #3399FF;font-weight: normal;}*/

.autocomplete-w1 {position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete {border:2px solid #999; background:#fff; color:#222; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; font-weight: bold;}
.autocomplete .selected { background:#222; color: #fff }
.autocomplete div { padding:10px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:bold; color:#3399FF; }

.box-header.split, .action_bar.split {border-radius: 0px; border-top: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;}
.no-chosen { border: 1px solid #D9D9D9; color: #666; height: 30px; padding: 5px; background: #EFEFEF}
.no-chosen option { padding: 5px; border-top: 1px solid #DFDFDF}
.no-chosen option:hover, .no-chosen option:focus { background: #006899; color:#fff; }
.no-chosen.white {background: #fff}
.search_init {width: 100px;}
.control-refresh {}
.control-refresh .no-chosen {width: 80%; display: inline-block;}
.control-refresh a {display: inline-block;}
.btn-more {display: inline-block; padding: 3px 5px; border-bottom: 1px solid #004C70; border-right: 1px solid #004C70; margin-left: 10px; background: #006899; color: #fff; text-decoration: none}
.btn-more:hover {border-bottom: 2px solid #004C70; border-right: 2px solid #004C70; cursor: pointer; }
hr {border: 1px solid #ddd; border-top: 0px; border-left: 0px; border-right: 0px}
a.link-blue {color: #006899; text-decoration: none;}
a.link-blue:hover {text-decoration: underline;}
a.link-black {color: #222; text-decoration: none; font-weight: 400;}
a.link-black:hover {text-decoration: underline;}
.inline-block {vertical-align: top; display: inline-block;}
a.link-black:focus {font-weight: bold;}
.block {display: block;}
.sangria {padding-left:25px;}
.color-black {color: #000}
.color-white {color: #fff}
.font-24 {font-size: 24px !important}
.font-16 {font-size: 16px}
.font-28 {font-size: 28px}
.font-32 {font-size: 32px}
.font-48 {font-size: 48px}
.font-64 {font-size: 64px}
.font-128 {font-size: 128px}
.text-center {text-align: center;}
.margin-bottomx1 {margin-bottom: 10px;}
/*width - char */
.char-1 {width: 5px !important}
.char-2 {width: 10px !important}
.char-3 {width: 15px !important}
.char-60 {width: 300px !important}
.char-100 {width: 500px !important}

div.disabled {background: none repeat scroll 0 0 #232323}