@media (max-width: 480px) {
	/*html { overflow:auto; }
	nav#primary { float:none; height:40px; width:100%; padding:5px 0px;}
	nav#primary ul li { display:inline-block; vertical-align:top;}
	nav#primary ul li a {padding:0px 10px;}
	nav#primary ul li a span {padding:0px; font-size:24px; display:inline}
	nav#secondary {float:none; height:auto; width:100%; display:block;}
	nav#secondary ul {width:100%;}*/
	form .column-left, form .column-right {width: 100%}
	.column-right {float: none}
	
}

@media (max-width: 767px) {
	body {min-width: 100%}
	nav#primary {display: none}
	nav#secondary {width: 100%}
	.quick-actions a {margin-top: 10px}
	section#maincontainer { width: 97%; float: none}
	.container_12, .container_16 {width: 100%}
	.container_12 .grid_6, .container_16 .grid_8 {width: 240px}
	#section-choices {position: static; height: auto; width: 100%; overflow: auto; border-bottom: 1px solid #aaa}
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {margin-right: 5px}
	.container_12 .grid_12, .container_16 .grid_16 {width: auto;}
	/*html { overflow:auto; }
	nav#primary { float:none; height:40px; width:100%; padding:5px 0px;}
	nav#primary ul li { display:inline-block; vertical-align:top;}
	nav#primary ul li a {padding:0px 10px;}
	nav#primary ul li a span {padding:0px; font-size:24px; display:inline}*/
}
