<script id="v-g-i-dash-001" data-min="v-g-i-d-001-tmpl" class="v-p-cr-tmpl" type="text/x-handlebars-template">
	<div class="onerow">
		<div id="tmpl-area-multiple" class="col5">
			<div id="tmpl-frm-srch-pct" data-tmpl="#v-g-i-frm-srch-pct-tmpl"></div>
			<div class="clear"></div>
			<hr>
			<div id="tmpl-v-g-i-dts-pct" data-tmpl="#v-g-i-dts-pct-tmpl"></div>
			<hr>
			<div id="tmpl-v-g-i-area-free" data-tmpl="#v-g-i-area-free"></div>
		</div>
		<div id="tmpl-frm-srch-cts" data-tmpl="#v-g-i-cts-tmpl" class="col7 last scroll-y"></div>
	</div>
</script>
<script id="v-g-i-dash-002" data-min="v-p-cr-d-001-tmpl" class="v-p-cr-tmpl" type="text/x-handlebars-template">
	<div class="onerow">
		<div id="v-p-cr-d-001-tmpl-area-one" class="col5"></div>
		<div id="v-p-cr-d-001-tmpl-area-two" class="col7 last scroll-y"></div>
	</div>
</script>

<script id="v-g-i-cts-tmpl" type="text/x-handlebars-template">
	<div>
		<form>
			<div class="column-left">
				<p>
					<label>Búsqueda de servicios:</label>
					<input id="v-g-i-cts-tmpl-frm-srch-inp-srv" class="node-street" data-right="$('#v-g-i-cts-tmpl-frm-srch-btn-trn').focus()" data-esc="go-home" type="text" >
				</p>
			</div>
			<div class="column-right">
				<div class="column-left">
					<p>
						<label>Turno:</label>
						<a id="v-g-i-cts-tmpl-frm-srch-btn-trn" href="#" class="button small input node-street" data-left="$('#v-g-i-cts-tmpl-frm-srch-inp-srv').focus()" data-right="$('#v-g-i-cts-tmpl-frm-srch-inp-srv').focus()" title="Clic para seleccionar Turno" data-min="7:00" data-max="12:00">
						Mañana
						</a>
					</p>
				</div>
				<!--<div class="column-right">
					<p>
						<label>Fecha:</label>
						<input id="v-g-i-cts-tmpl-frm-srch-inp-dte" type="text" value="{{ now }}">
					</p>
				</div>-->
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<a id="v-g-i-cts-tmpl-frm-srch-btn-do" href="#" class="button small block">Buscar</a>
		</form>
	</div>
	<div id="table-cupos">
	</div>
</script>

<script id="v-g-i-lst-cps-dps-tmpl" type="text/x-handlebars-template">
	<hr>
	<table class="light">
		{{#objects}}
		<tr>
			<td><a href="#" class="link-black terapeuta-cupo" data-profesionalcalc="{{ id }}" data-precio="{{ servicio_precio }}" data-dia="{{ dia_text }}" data-servicio="{{ servicio_text }}" data-hora="{{ horainicio_text }} a {{ horafin_text }}" data-profesional="{{ profesional_text }}">{{ profesional_text }}</a></td>
			<td>{{ servicio_text }}</td>
			<td>{{ dia_text }}</td>
			<td>{{ horainicio_text }}</td>
			<td>{{ horafin_text }}</td>
		</tr>
		{{/objects}}
	</table>
</script>

<script id="v-g-i-sdb-help" type="text/x-handlebars-template">
	<h1 class="font-open color-white">Ayuda</h1>
	<hr>
	<ul>
		<li><i class="icon-circle"></i><strong>F8:</strong> Muestra los terapeutas y su disponibilidad.</li>
		<li><i class="icon-circle"></i><strong>Escape:</strong> Vuelve al inicio.</li>
	</ul>
</script>
<script id="v-g-i-lst-trp-dps-tmpl" type="text/x-handlebars-template">
	<h1 class="font-open color-white">Disponibilidad:</h1>
	<hr>
	<table class="white">
		<thead>
			<th>Terapeuta</th>
			<th>Hoy</th>
			<th>Disponibles</th>
		</thead>
		<tbody>
			{{#objects}}
			<tr>
				<td>{{ profesional_text }}</td><td>{{ hoy }}</td><td>{{ count }}</td>
			</tr>
			{{/objects}}
		</tbody>
	</table>
</script>

<script id="v-g-i-pqt-detail-tmpl" type="text/x-handlebars-template">
	<h1 class="font-open color-white">Paquete: {{ paquete_text }}</h1>
	<hr>
	<a class="button small data-link" data-link="pago-sesion" data-id="{{ id }}" title="Pago" href="#" >Pago</a>
	<hr>
	<div class="container_12">
		<div class="grid_5">
			<table class="light">
				<tbody>
					{{#sesiones}}
					<tr>
						<td><a href="#" class="link-black data-link" data-id="{{ reservas.id }}" data-link="sesion">{{ sesion }} / {{ reservas.terapeuta_text }}</a></td>
						<td><i class="font-16 {{ estado_text }}"></i></td>
					</tr>
					{{/sesiones}}
				</tbody>
			</table>
		</div>
		<div class="grid_6">
			<form>
				<p class="with-btn">
					<a id="v-g-i-pqt-detail-tmpl-frm-srch-btn-trn" href="#" class="button small input" title="Clic para seleccionar Turno" data-min="7:00" data-max="12:00">
						Mañana
						</a>
					<input id="v-g-i-pqt-detail-tmpl-frm-srch-inp-dte" type="text" value="{{ now }}">
				</p>
				<div class="clear"></div>
				<a id="v-g-i-pqt-detail-tmpl-frm-srch-btn-do" href="#" class="button small block">Buscar</a>
			</form>
		</div>
	</div>
</script>
<script id="v-g-i-pqt-ssn-detail-tmpl" type="text/x-handlebars-template">
	<table class="light">
		<tbody>
			<tr>
				<td>Terapeuta</td><td>{{ terapeuta_text }}</td>
			</tr>
			<tr>
				<td>Servicio</td><td>{{ servicio_text }}</td>
			</tr>
			<tr>
				<td>Estado</td><td>{{ estado_text }}</td>
			</tr>
			<tr>
				<td>Fecha</td><td>{{ dia_text }}</td>
			</tr>
			<tr>
				<td>Inicio</td><td>{{ horainicio_text }}</td>
			</tr>
			<tr>
				<td>Fin</td><td>{{ horafin_text }}</td>
			</tr>
		</tbody>
	</table>
	<hr>
	{{#if is_reservado}}
	<a class="button small data-link" href="#" data-link="accion-sesion">Postergar</a>
	{{/if}}
	{{#if is_falto}}
	<a class="button small data-link" href="#"  data-link="accion-sesion">Reprogramar</a>
	{{/if}}
	{{#if is_postergado}}
	<a class="button small data-link" href="#"  data-link="accion-sesion">Reprogramar</a>
	{{/if}}
</script>
<script id="v-g-i-pqt-frm-pgo-tmpl" type="text/x-handlebars-template">
	{{#if pagos}}
	<table class="light">
		<tbody>
			{{#pagos}}
			<tr>
				<td>{{ fecha }}</td><td>{{ monto }}</td>
			</tr>
			{{/pagos}}
			<tr>
				<td>Total</td>
				<td><strong>{{ status.pagado }}</strong></td>
			</tr>
		</tbody>
	</table>
	{{/if}}
	<hr>
	<ul>
		<li><h5 class="font-open">Precio: <strong>{{ status.precio }}</strong></h5></li>
		<li><h5 class="font-open">Debe: <strong>{{ status.debe }}</strong></h5></li>
	</ul>
	<hr>
	<form id="v-g-i-pqt-frm-pgo-tmpl-frm-rgt-pago" method="post">
		<input type="hidden" value="{{ token }}" name="csrfmiddlewaretoken" class="field">
		<input type="hidden" value="{{ id }}" name="paquete" class="field">
		<p>
			<label>Monto</label>
			<input type="text" name="monto" class="{validate: {required:true, number:true, min:1}} field" value="0">
		</p>
		<div class="action_bar">
			<input type="submit" value="Registrar" data-value="Registrar" class="button green">
		</div>
	</form>
</script>